
/* MAIN */
.main-flex{
    display: flex;
}
.survey-general{
    margin-left: 2px;
    margin-right: 2px;
}

.padding{
    padding: 9px;
    margin-top: 10px;
}

main {
    flex-direction: row;
    width: auto;
}

/* section gauche */

.left-section{
    width: 20%;
    margin: 5% 0 5% 5%;
}

/* sondage */
#font-center{
    text-align: center;
    font-size: 18px;
}
.center{
    text-align: center;
}
#survey-head{
    background-color: #191970;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0;
}

#survey-head h2{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#selection{
    background-color:rgb(227, 227, 227);
}

#survey-validation{

    justify-content: center;
    background-color: #191970;

}

.survey-validation div{
    margin: 5px 20px 5px 20px;

}

/* Accès rapide */
.colorAccess{
    color: #b6a886;
}

.blue{
    color: #191970;
}
#floatL{
    float: left;
}
.antislash{
    text-decoration: none;
}

.quick-access h2{
    font-weight: lighter;
    color: goldenrod;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Informations de contact */
#colorFont{
    font-size: 25px;
}

.contact-inf h2{
    font-weight: lighter;
    color: goldenrod;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Carousel partenaires */
.carouselPosition{
    height: 52px!important;
    position: absolute!important;
    top: 55.5rem!important;
}
#carouselResponsive{
    left: 14rem!important;
}
.colorCollab{
    color: black;
}
#fondCarrousel{
    background-color: #efeded;
}
.carousel-inner{
    height: 150px;
}

.carousel-item img{
    vertical-align: middle;
    width: 43%;
    margin-left: 23%;
}

/* FOOTER */
.linkPageColor{
    font-size: 21px;
    color: white;
}
.img-footer img{
    margin-top: 35px;
}

#footer{
    justify-content: space-around;
    background-color: #b6a886;
    padding-bottom: 30px;
}

#footer h3{
    color: white;
}
#footer p{
    color: white;
}

#footer-element{
    flex-direction: column;
}

.footer-element a{
    margin-top: 15px;
}

.foot-marg{
    margin-right: 25px;
}

.button-footer button{
    height: 47px;
    margin-left: 12px;
    border-radius: 15px;
}

.input-footer input{
    border-radius: 24px;
}


/* right section */

.right-section{
    margin-top: 5%;
    width: 75%;
}

/* navbar */
#marginT-nav {
    background-color: #efeded;
    padding-top: 1rem;
}

.mt-3 {
    margin-top: -8px!important;
}

.bg {
    background-color: #191970!important;
}

nav {
    padding: 0!important;
}

.nav-link {
    width: 71px;
}

.longs {
    width: 146px;
}

.collapse {
    position: relative;
    right: 33.4rem;
}

#position1 {
    width: 104px;
}

#position2 {
    width: 121px;
}

#position3 {
    width: 205px;
}

#position4 {
    width: 116px;
}

.logo {
    position: absolute;
    left: 112px;
    width: 187px;
    bottom: 0;
}

.nav-link:hover {
    background-color: #b6a886;
}

.position {
    text-align: center;
}

#position {
    width: 104px;
}
.navbar-nav {
    position: relative;
    left: 0!important;
}
/*a propos de nous*/
#profilPose{
    width: 8rem;
    position: relative;
    left: 7.5rem;
}

.titreCenter{

    margin-top: 16px;
    margin-bottom: 16px;
}
.txtCenter{
    text-align: center;
}

/* PARTENAIRES */
.FS{
    font-size: 1.4rem;
}
.part_right{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 30px;
    width: 220px;
    max-height: 25%;

}

.img_part{
    width:100%;
    max-height: 130px;
    min-height: 130px;
    background-size: cover;
}

.part_flex{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.partenaire{
    width: 100%;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    min-height: 250px;
}

.title_part{
    text-align: center;
}

.partenaire h2 {
    text-align: center;
}

.btn_part{
    margin-left: 20%;
    background-color: goldenrod;
}

.modal-header, .modal-footer{
    background-color: #191970;
}

.modal-header h5{
    color: white;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: underline;
}

.modal-footer button{
    background-color: goldenrod;;
}

/* BILLETTERIE */

.offerTitle{
    text-align: center;
    font-size: 65px;
    font-weight: lighter;
    color:  #191970;
}

.offer_menu{
    text-align: center;
}

.top_content_offer, .bottom_content_offer{
    display: flex;
    justify-content: space-between;
}

.offer_content p{
    font-size: 85%;
}

.type_offer{
    background-color: #191970;
    color: white;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
}

.offer_content{
    background-color: rgb(230, 230, 230);
    width: 90%;
    margin-left: 5%;
    padding: 8px;
    border: solid 2px black;
    border-radius: 20px;
    margin-top: 30px;
}

.o_sel{
    color: #191970;
}

.o_aff{
    color: goldenrod;
    text-decoration: underline;
}

.o_sel:hover{
    color: goldenrod;
    transition-duration: 0.2s;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    color: #333;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}  

/* PAGE D'ACCUEIL */
.homedesc{
    margin: 0 5% 0 5%;
    text-align: center;
}

/* FORMULAIRE CONNEXION */

.formadmin{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
}

.formadmin h1{
    text-align: center;
    color: #191970;
    font-weight: lighter;
    font-size: 50px;
}

.formadmin button{
    margin-top: 40px;;
    background-color: darkblue;
    width: 100%;
    color: white;
}

.formadmin button:hover{
    background-color: goldenrod;
    transition-duration: 0.3s;
}

/* BACKOFFICE */
.logoutbutton{
    width: 105%;
    margin-left: -8px;
    height: 50px;
    background-color: #191970;
    color: goldenrod;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logoutbutton:hover{
    text-decoration :underline;
}
.botitle h1{
    text-align: center;
    margin: 50px;
    color: #191970;
    font-weight: lighter;
}

.AdmPath{
    margin: 30px 0 10px 0;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.AdmPath:hover{
    text-decoration: underline;
    background-color: #191970;
    color: goldenrod;
}

.admin-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-menu a{
    font-size: 20px;
    text-decoration: none;
}

/* form d'ajout d'offre */
#offrep #offrep_type_offre{
    display: block;
}

.o_title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

/* Style pour le formulaire */
.add-offer-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour les champs de formulaire */
.add-offer-form input[type="text"], .add-offer-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#offrep_date_debut_val, #offrep_date_fin_val, #offrep_date_debut_aff, #offrep_date_fin_aff{
display: flex;
flex-wrap: wrap;
align-items: center;
}

#offrep_date_debut_val .classePerm, #offrep_date_fin_val .classePerm, #offrep_date_debut_aff .classeLim, #offrep_date_fin_aff .classeLim {
margin-right: 10px;
}

#offrep_date_debut_val_date, #offrep_date_debut_val_time, #offrep_date_fin_val_date, #offrep_date_fin_val_time,
#offrep_date_debut_aff_date, #offrep_date_debut_aff_time, #offrep_date_fin_aff_date, #offrep_date_fin_aff_time  {
display: flex;
align-items: center;
}


#offrep_date_debut_val_date select, #offrep_date_debut_val_time select, #offrep_date_fin_val_date select, #offrep_date_fin_val_time select,
#offrep_date_debut_aff_date select, #offrep_date_debut_aff_time select, #offrep_date_fin_aff_date select, #offrep_date_fin_aff_time select {
padding: 5px;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 16px;
margin-left: 10px;
}

/* Style pour le bouton de soumission du formulaire */
#btnSendOffer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* affichage liste offres */
.offer_list{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.offer_select{
    display: flex;
    justify-content: center;
    border: 1px solid black;    
    width:550px;
    margin-bottom: 40px;
}

.offer_link{
width: 470px;
    margin-top: 10px;
    margin-left: 28px;
}

.offer_del{
    margin-top: 15px;
    width: 50px;
}

.o_del_link{
    margin-right: -28px;
    border-left:1px solid black;   
    text-decoration: none;
}

.o_upd_link{
    margin-left: -28px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.o_upd_link:hover{
    text-decoration: underline;
    background-color: #191970;
    color: goldenrod;
}

.o_del_link:hover{
    background-color: red;
    color: white;
}   

.offer_del svg{
    margin-left: 18px;
    color:#191970
}

.title_bo{
    text-align: center;
    margin: 50px;
    color: #191970;
    font-weight: lighter;
}

/* PAGE ERREUR 404 */

.error404 svg{
    width: 200px;
}

.error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

/* PAGE D'ACCUEIL BACKOFF */ 

/* Formulaire d'ajout de message */
.home_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 30rem;
}

/* Champ de saisie */
#home_ajouter,
.home_form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #191970;
    margin-bottom: 1rem;
    width: 100%;
}

/* Bouton de soumission */
#home_ajouter {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#home_ajouter:hover{
    text-decoration: underline;
    background-color: #191970;
    color: goldenrod;
}

/* Lien de retour */
.back_path {
    text-align: center;
    margin-top: 1rem;
}

.back_path a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* PARTENAIRES BACKOFF */
/* Style pour le formulaire */
.part_form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour les champs de formulaire */
.part_form input[type="text"], .part_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Style pour le champ d'upload de fichier */
#part_image, #part_modif_image {
    margin-bottom: 20px;
}

/* Style pour le bouton de soumission du formulaire */
#part_ajouter {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #191970;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}

#part_ajouter:hover, #part_modif_modifier:hover{
    text-decoration: underline;
    background-color: #191970;
    color: goldenrod;
}

#part_modif_modifier{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #191970;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}
/*contact*/
#formulate{
    height: 20em; position: absolute; left: 43em; top: 22em;
}
