{% extends 'basebo.html.twig' %}
{% block body %}
    <div class="container_offer_menu">
        <a href= {{ path('offre_adm_l')}} class="button_lim">Ajouter une offre limitée</a>
        <a href= {{ path('offre_adm_p')}} class="button_perm">Ajouter une offre permanente</a>
    </div>
    <a href= {{ path('admin_lim') }}><button class="logoutbutton"> RETOUR </button></a>
{% endblock %}