{% extends 'basebo.html.twig' %}
{% block body %}
    <div class="error404">
        <img><lottie-player src="https://assets10.lottiefiles.com/packages/lf20_oouh4yik.json"  background="transparent"  speed="1"  style="width: 100%; height: 300px;"  loop autoplay></lottie-player><img>
        <h1>Page introuvable</h1>
        <p>Retour à la <a href="{{ path('home') }}">page d'accueil</a>.</p>
    </div>
{% endblock %}