<!-- footer -->
<section id="footer" class="main-flex">
    <!-- image saint vincent -->
    <div class="img-footer">
        <img src={{ asset('static/img/logostvincent.png') }} alt="Logo Saint-Vincent">
    </div>
    <!-- liens footer -->
    <div  class="middle-footer">
        <h3> CSE Lycée Saint-Vincent</h3>

        <div class="main-flex footer-element-flex">
            <div id="footer-element" class="main-flex foot-marg">
                <a class="linkPageColor antislash" href="#"> > Partenariats </a>
                <a class="linkPageColor antislash" href="#"> > A propos de nous </a>
            </div>
            <div id="footer-element" class="main-flex">
                <a href="{{ path('offre')}}" class="linkPageColor antislash"> > Billetterie </a>
                <a class="linkPageColor antislash" href="#"> > Contact </a>
            </div>
        </div>
    </div> 
    <!-- formulaire footer-->
    <div class="footer-form">
        <h3>Inscrivez-vous aux offres </h3><br>
        <p>Recevez un email à chaque nouvelle offre sur le site internet </p>
        <div class="main-flex footer-element-flex">
            <div class="input-footer">
                {{ render(controller('App\\Controller\\NotificationController::newsletterForm')) }}
            </div>
        </div>
    </div>
</section>