<!-- footer -->
<section class="footer">
    <!-- image saint vincent -->
    <div class="img-footer">
        <img src={{asset('css/images/stv.png')}}>
    </div>
    <!-- liens footer -->
    <div  class="middle-footer">
        <h3> CSE Lycée Saint-Vincent</h3>

        <div class="footer-element-flex">
            <div class="footer-element foot-marg">
                <a href="#"> > Partenariats </a>
                <a href="#"> > A propos de nous </a>
            </div>
            <div class="footer-element">
                <a href="#"> > Billetterie </a>
                <a href="#"> > Contact </a>
            </div>
        </div>
    </div> 
    <!-- formulaire footer-->
    <div class="footer-form">
        <h3> Inscrivez-vous aux offres </h3><br>
        <p>Recevez un email à chaque nouvelle offre sur le site internet </p>
        <div class="mail-footer">
            <div class="input-footer">
                <form action="" method="POST">
                    <input type="text"  class="form-control form-control-lg" placeholder="E-mail" name="email" required>
                <form>
            </div>
            <div class="button-footer">
                <button name="sendmailfooter">S'inscrire</button>
            </div>
        </div>
    </div>
</section>