<section class="left-section">
    <!-- Sondage -->
    <div class="survey">
        <div class="survey-head">
            <h2> Votre avis compte </h2>
        </div>
        <!-- champ de sélection -->
        <fieldset class="selection">
            <p> Pour quel parc d'attraction souhaiteriez-vous obtenir des prix ?</p>
            <div>
                <input type="radio" id="option1" name="opt" value="option1">
                <label for="option1">Réponse A</label>
            </div>
            <div>
                <input type="radio" id="option2" name="opt" value="option2">
                <label for="option2">Réponse B</label>
            </div>
            <div>
                <input type="radio" id="option3" name="opt" value="option3">
                <label for="option3">Réponse C</label>
            </div>
        </fieldset>
        <!-- bouton validation sondage -->
        <div class="survey-validation">
            <div class="view-answer">
                <button name="view">Voir les réponses</button>
            </div>
            <div class="validate-answer">
                <button name="validate">Valider</button>
            </div>
        </div>
    </div>

    <!-- Accès rapide -->
    <div class="quick-access">
        <h2>Accès rapide</h2>
        <div>
            <p> > Offres permanentes / Billetterie</p>
            <p> > Nous contacter
        </div>
    </div>

        <!-- Information de contact -->
    <div class="contact-inf">
        <h2>Informations de contact</h2>
        <div>
            <p> > Par téléphone: +33303030303</p>
            <p> > Par email : <a href="mailto:email@exemple.com">cse@lyceestvincent.fr</a></p>
            <p> > Au lycée : Bureau du CSE (1er étage bâtiment Saint-Vincent)</p>
        </div>
    </div>

        <!-- Carousel partenaires -->
    <div class="collab-carousel">
        <h2>Nos partenaires</h2>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src={{asset('css/images/bootstrap-logo.png')}} width="250px" alt="ERROR">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src={{asset('css/images/csslogo.png')}} width="250px" alt="ERROR">
                </div>
                <div class="carousel-item">
                    <img src={{asset('css/images/clogo.png')}} width="250px" alt="ERROR">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <a href="#" class="linkcollab"> Decouvrir tous nos partenaires </a>
        </div>     
</section>